@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    margin: 0;
    text-align: center;
    color: #40514E;
}
html{
    scroll-behavior: smooth;
}
.sidebar{
    background-color: #042331;
    padding-top: 0px;
    width: 300px;
    height: 100vh;
}
.sidebar header{
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;

}
.sidebar ul{
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
.sidebar li{
    cursor: pointer;
    list-style: none;
    color: white;
    font-size: 30px;
    padding: 27px 0;
    margin-left: 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover{
    font-size: 35px;
    font-weight: bold;
}
h1{
    font-size: 5.625rem;
    margin: 100px auto 0 400px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
.typed{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin-left: 400px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    color: #66BFBF;
}
h2{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    color: #66BFBF;
}
.auto-type{
    color: rgb(205, 120, 50);
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a:hover{
    color: #EAF6F6;
}
.t-cloud{
    position: absolute;
    right: 20%;
    top: 3%;
}
.mountain{
    margin-left: 300px;
    padding-top: 70px;
}
.b-cloud{
    position: absolute;
    top: 40%;
    left: 40%;
}
#top-container{
    background-color: #EAF6F6;
    display: flex;
}

#middle-container{
    margin-top: 50px;
    margin-bottom: 100px;
}
.profile_img{
    margin: 20px;
}
.student{
    margin: 0 30%;
    color: #40514e;
    font-size: 1.2rem;
    line-height: 2;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 5px;
    width: 4%;
    margin: 80px auto;
}
.skill-row{
    background-color: lavender;
    width: 50%;
    margin: 60px auto;
    padding: 50px;
    text-align: left;
}
.code-img{
    float: left;
    padding-right: 50px;
}
.dev-img{
    float: right;
    padding-left: 5px;
}
p{
    color: #40514e;
    font-size: 1.2rem;
    line-height: 2;
}
.above-cont{
    margin: 40px auto 60px;
    width: 80%;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.carousel-item{
    padding: 12% 10%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 2px;
}
#Contact-Me{
    display: flex;
    padding-top: 100px;
}
.image{
    width: 50vw;
}
.collaborate{
    width: 50vw;
}
form{
    padding: 20px;
}
input{
    padding: 5px;
    margin: 5px;
    width: 40%;
}
button{
    cursor: pointer;
}
.bottom-container{
    background-color: white;
    padding-top: 40px;
    margin-top: 60px;
}
#footer{
    background-color: #263238;
    text-align: center;
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    height: 200px;
    padding-top: 20px;
}
.ico{
    margin: 20px 10px;
}
.copyright{
    color: white;
}
